@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@324&display=swap');
 $font-size: 1.2rem;
 $header-principal: #000000;
 $header-secundario: rgb(255, 255, 255);
 $color-inicio: rgb(239, 239, 239);
 $color-bgr:black;
 $btnProductosBgr: rgb(252, 253, 253);
 $btnProductosText:  rgb(0, 0, 0);
$fondoProductoCard:linear-gradient(to right, #434343 0%, black 100%);
